---
---

@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@import "helpers/reset";

@import "modules/logo";
@import "modules/shelf";
@import "modules/nav";
@import "modules/profile";
@import "modules/skills";
@import "modules/services";
@import "modules/projects";
@import "modules/contact";
@import "modules/footer";

body {
	background-color: #fcfcfc;
}

a {
	color: darken(#FFCFC8, 48%);
	font-weight: bold;

	&:hover {
		color: darken(#FFCFC8, 58%);
	}
}