<footer>
<p>&copy; 2014-2015 Editorial Technology.</p>
</footer>

<script type="text/javascript">
$(document).ready(function() {
  var profile = $("#profile");
  var header = $("#header");

  $(window).scroll(function() { 
    var scrollOffset = profile.offset().top + 160;
    var scrollPosition = $(window).scrollTop();

    if (scrollPosition > scrollOffset) {
      header.removeClass("masthead").addClass("navigation");
    } else {
      header.removeClass("navigation").addClass("masthead");
    }
  });

});
</script>