footer {
	//border-top: 2em solid #ffcfc8;
	width: 100%;
	text-align: center;
	background-color: #ffcfc8;
	color: darken(#FFCFC8, 68%);
	margin: 0;
	padding: 1em;

	p {
		font-family: "botanika-mono-web", monospace;
		font-size: 16px;
	}

}