.contact {
	padding-bottom: 6em;
	padding-top: 6em;	
	background-color: lighten(#FFCFC8, 4%);
	height: 100vh;

	.contact-wrap {
		padding-bottom: 12em;
		@include outer-container;

		.contact-body {

			h2 {
				text-align: center;
				font-size: 48px;
				margin: 0 0 1em 0;
				color: darken(#FFCFC8, 48%);
			}

			.contact-group {

				p {
					@include span-columns(3);
					font-family: "proxima-nova", sans-serif;
					font-size: 28px;
					text-align: center;
					color: darken(#FFCFC8, 68%);
				}

			}

		}

	}

}