.logo {
	display: inline-block;
	font-family: "botanika-mono-web", monospace;

	a {
		font-weight: bold;
		color: darken(#FFCFC8, 22%);

		&:hover {
			color: darken(#FFCFC8, 22%);
		}

		span {
			color: darken(#FFCFC8, 38%);

			&:hover {
				color: darken(#FFCFC8, 38%);
			}
		}
	}

}