
.masthead {

	.logo {
		text-align: center;
		padding: 2em;
		width: 100%;

		a {
			font-size: $base-font-size * 4;
		}
	}

	nav {
		margin-top: 2em;

		ul {
			text-align: center;

			li {
				font-size: 1.5em;
			}
		}

	}

}

.navigation {
	z-index: 999;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #fcfcfc;
	padding: 10px;
	border-bottom: 1em solid lighten(#FFCFC8, 4%);

	.logo {
		margin-top: 2px;
		margin-right: 4em;
		float: left;

		a {
			font-size: 1.5em;
		}

	}

	nav {

		ul {
			li {
				font-size: 20px;
			}
		}
	}

}

nav {

	ul {
		

		li {
			text-transform: uppercase;
			display: inline-block;
			font-weight: bold;

			&.active {
				//background-color: lighten(#FFCFC8, 4%);
				background-color: darken(#FFCFC8, 22%);
				border-radius: 0.65em;
				
				a {
					color: #fcfcfc;
				}
			}

			a {
				display: inline-block;
				padding: 0.3em 1em;
				//color: darken(#FFCFC8, 78%);
				color: darken(#FFCFC8, 38%);

				&:hover {
					//color: darken(#FFCFC8, 58%);
					//color: darken(#FFCFC8, 58%);
					color: #fcfcfc;
					background-color: darken(#FFCFC8, 22%);
					border-radius: 0.65em;
				}
			}
		}
	}
}